.breadcrumbs {
	margin-top: 18px;
	margin-bottom: 32px;
	font-size: 0.875rem;
	& ul {
		list-style: none;
		padding: 0;
	}
	& li:not(:last-child) {
		display: none;
		color: $background-secondary;
	}
	& li:before {
		font-family: "icomoon";
		font-size: 0.7rem;
		padding: 0 8px 0 0;
		content: "\e904";
		color: $background-secondary;
	}
	& .active {
		color: $background-secondary;
	}
}

////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.breadcrumbs {
		color: #86868c;
		& ul {
			list-style: none;
			padding: 0;
		}
		& li {
			display: inline;
		}
		& li:not(:last-child) {
			display: inline;
		}
		& li:not(:last-child):after {
			font-family: "icomoon";
			font-size: 0.7rem;
			padding: 0 8px;
			content: "\e908";
			color: $breadcrumbs_separator_color;
		}
		& li:before {
			content: "";
			padding: 0;
		}
		& .active {
			color: #86868c;
		}
	}
}
