.card {
	border: 0;
	margin-bottom: 16px;
	border-radius: 0px;
	&-body {
		padding: 18px 0 0 0;
		line-height: 28px;
	}
	&-img-top {
		border-radius: 0;
	}
	&-tag {
		font-size: 0.75rem;
		color: $text-secondary;
		font-weight: 100;
		letter-spacing: 4px;
		margin-bottom: 7px;
		text-transform: uppercase;
	}
	&-text {
		margin-bottom: 0;
		@include multiLineEllipsis($lineHeight: 1.75em, $lineCount: 4, $bgColor: white);
	}
	&-title {
		font-family: "canada-type-gibson";
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	& a {
		text-decoration: none;
	}
	& hr {
		height: 1px;
		background-color: $border-xlight;
		margin: 32px 0 0 0;
	}
	&-spotlight {
		position: relative;
		margin-bottom: 1rem;
		&__body {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
		}
		&__title {
			color: white;
			max-width: 60%;
		}
		&__img {
			height: 380px;
			width: 100%;
		}
		&__vignette {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(14, 14, 16, 0) 34.9%, rgba(14, 14, 16, 0.35) 100%);
		}
	}
}
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.card {
		position: relative;
		padding: 24px 24px 24px 0;
		&:hover {
			box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.05);
			z-index: 130;
			.card-border {
				z-index: 140;
				position: absolute;
				top: 0px;
				left: 0px;
				border: 1px solid white;
				width: calc(100% + 1px);
				height: 100%;
			}
			& a {
				border-left-color: white;
			}
		}
		& a {
			padding-left: 24px;
		}
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	.card {
		// border: 0;
		// &-text:hover {
		// 	text-decoration: none;
		// }
	}
}

// & .card {
//   margin-top: 16px;
//   padding: 0;
//   &-body {
//     padding-bottom: 0;
//   }

// }
