.footer {
	min-height: 400px;
	color: white;
	padding-top: 40px;
	&-content {
		padding-top: 70px;
		background-color: $background-primary;
		& .accordion {
			padding-top: 0;
		}
	}
	&-head {
		background-color: transparent;
		padding: 0;
		overflow: hidden;
		& img {
			width: 101%;
			height: auto;
		}
	}
	&-list {
		border-bottom: 1px solid $border-light-inverted;
		// background-color: rgba(255, 255, 255, 0.03);
		line-height: 28px;
		&__header {
			display: flex;
			padding: 11px 0;
			justify-content: space-between;
			font-family: "canada-type-gibson";
			font-weight: 500;
			font-size: 1.25rem;
			&:hover {
				color: white;
			}
			&.collapsed {
				border-bottom: 1px solid $border-light-inverted;
			}
		}
		&__link {
			line-height: 31px;
		}
		&__subscribe {
			margin-top: 6px;
			& li {
				margin-bottom: 21px;
			}
			& input {
				width: 100%;
			}
			& button {
				display: block;
				width: 100%;
				border: 0;
				// padding: 9px;
				width: 100%;
				// max-width: 250px;
			}
		}
		&__sociallinks {
			padding: 8px 0;
			& a {
				display: inline-block;
				position: relative;
				margin-right: 20px;
			}
		}
	}
	&-bottom {
		background-color: $background-primary;
		&__globallinks {
			padding: 40px 0;
			& li {
				padding: 4px 0;
				& a {
					font-size: 0.875rem;
				}
			}
		}
		&__logos {
			padding: 0 0 40px 8px;
		}
		&__logo {
			display: block;
			width: auto;
			height: 40px;
		}
		&__logo:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	& a {
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
	& ul {
		padding-left: 0px;
		list-style: none;
	}
	input {
		background: none;
		border: 0;
		color: white;
		border-bottom: 1px solid $border-light-inverted;
		padding: 2px;
		&::placeholder {
			color: white;
		}
		&:focus {
			background-color: rgba(white, 0.05);
			outline: none;
		}
	}
}
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.footer {
		&-content {
			padding-top: 28px;
		}
		&-bottom {
			&__globallinks {
				column-count: 2;
				& li {
					padding: 8px 4px 0 0;
					& a {
						// font-size: 0.875rem;
					}
				}
			}
			&__logos {
				padding: 50px 15px;
			}
			&__logo {
				display: inline-block;
				// width: auto;
				// height: 40px;
			}
			&__logo:not(:last-child) {
				margin-right: 32px;
			}
		}
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	.footer {
		&-content {
			padding-top: 16px;
		}
		&-list {
			background: none;
			border: none;
			&__header {
				border: none;
				padding: 8px 0;
			}
		}
		&-bottom {
			&__container {
				display: flex;
				justify-content: space-between;
				flex-direction: row-reverse;
				border-top: 1px solid $border-light-inverted;
			}
			&__globallinks {
				column-count: 1;
				padding: 52px 0 64px 0;
				& li {
					display: inline-block;
					& a {
						// font-size: 0.875rem;
						margin-left: 22px;
					}
				}
			}
			&__logos {
				padding: 50px 0px;
			}
			&__logo {
				// display: block;
				// width: auto;
				// height: 40px;
			}
			&__logo:not(:last-child) {
				// margin-bottom: 16px;
			}
		}
	}
}
