.gototop {
	position: fixed;
	z-index: 150;
	right: 20px;
	bottom: 20px;
	opacity: 0;
	transition: opacity 0.2s ease-out;
	& .btn-round {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	}
	& a:hover {
		text-decoration: none;
	}
}
