.header {
	position: relative;
	line-height: 21px;
	padding-bottom: 28px;
	z-index: 100;
	border-bottom: 1px solid $border-light;
	background-color: white;
	user-select: none;
	&-sticky {
		padding-bottom: 15px;
		position: fixed;
		width: 100%;
		top: -160px;
		z-index: $zindex-sticky;
		transition: all 300ms cubic-bezier(0.55, 0, 0.1, 1);
		&-expanded {
			top: 0px;
		}
		& .header-content__logo {
			content: url("../img/newcastle_logo_sticky.svg");
			width: 158px;
		}
		&.header-landing {
			background-color: white !important;
		}
	}
	&.header-landing {
		border-bottom: none;
		background-color: transparent;
	}
	&-top {
		position: relative;
		top: 7rem;
		z-index: 120;
		font-size: 0.875rem;
		color: white;
		text-align: center;
		&__navsup {
			padding: 0;
			list-style: none;
			& li {
				display: inline;
				padding: 0;
				margin: 0;
			}
			& li:not(:last-child):after {
				padding: 0 15px;
				content: "|";
				color: #e2e2e2;
			}
			& a {
				color: white;
			}
			& a:hover {
				text-decoration: none;
			}
		}
	}
	&-content {
		position: relative;
		top: 12px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		&__logo {
			content: url("../img/newcastle_logo.png");
			max-width: 150px;
			height: 50px;
		}
		& .btn-search {
			margin-top: -4px;
			padding: 4px 0;
			& span {
				font-size: 2.5rem !important;
				color: $background-primary;
			}
		}
	}
	&-mainnav {
		color: #fff;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		background-color: $background-primary;
		&__container {
			position: relative;
			overflow: scroll;
			width: 100vw;
			height: 100vh;
		}
		& .nav {
			position: relative;
			top: 5rem;
			left: 0;
			flex-direction: column;
			font-family: "canada-type-gibson";
			text-transform: uppercase;
			letter-spacing: 2px;
			& .nav-item {
				padding: 0 2rem;
				.icon-union {
					display: block;
				}
				.icon-minus {
					display: none;
				}
				& .nav-link {
					font-size: 1.25rem;
					padding: 1.4rem;
					text-align: center;
					border-top: 1px solid $border-light-inverted;
				}
				& .dropdown-menu {
					margin: 0;
					width: 100%;
					padding-top: 0px;
					padding-bottom: 24px;
					position: relative !important;
					transform: translate3d(0, 0, 0) !important;
					&__container {
						position: relative;
						display: flex;
						flex-wrap: wrap;
						width: 100%;
					}
					&__item {
						display: inline-block;
						padding: 10px;
						flex: 1 0 31%;
						&:nth-child(1) {
							margin-bottom: 15px;
						}
						&:nth-child(4) {
							margin-bottom: 15px;
						}
						&-link {
							display: flex;
							flex-direction: column;
							align-items: center;
							font-size: 0.75rem;
							// font-weight: 900;
							color: white;
							&--image {
								& img {
									border-radius: 50%;
								}
								margin-bottom: 14px;
							}
							&:hover {
								text-decoration: none;
							}
						}
						&-text {
							text-align: center;
							max-width: 120px;
							line-height: 16px;
						}
					}
				}
				&__container {
					display: flex;
					width: 100%;
					// justify-content: space-between;
					// align-items: center;
				}
				& .btn-toggle-item {
					position: absolute;
					right: 50px;
					top: 25px;
				}
				&.show {
					.icon-union {
						display: none;
					}
					.icon-minus {
						display: block;
					}
				}
			}
			& .nav-link {
				width: 100%;
				font-size: 1.4rem;
				font-weight: 600;
				color: #fff;
			}
		}
	}
}
#mainnav {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 160;

	.dropdown-menu {
		border-radius: 0;
		border: 0;
		background-color: $background-primary;
		color: white;
	}
}
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.header {
		&-content {
			align-items: center;

			&__logo {
				width: 213px;
				max-width: 213px;
				height: 80px;
			}
		}
		&-mainnav {
			&__container {
			}
			& .nav {
				& .nav-item {
					&:hover .dropdown-menu {
					}
					& .nav-link {
						&:hover {
						}
					}
					& .dropdown-menu {
						&__container {
						}
						&__item {
						}
					}
				}
			}
		}
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	.header {
		line-height: 28px;
		&-sticky {
			top: -200px;
			&-expanded {
				top: -40px;
			}
			border-bottom: 0;
			& .header-content__logo {
				position: relative;
				top: 10px;
				height: auto;
			}
			& .dropdown-menu {
				width: 712px !important;
			}
		}
		&-top {
			padding: 8px 0px 8px 0;
			color: black;
			top: 0;
			bottom: inherit;
			left: inherit;
			width: inherit;
			text-align: right;
			&__navsup {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			& a {
				color: black;
			}
		}
		&-content {
			align-items: flex-start;
			top: 0px;
			&__logo {
				// width: 287px;
				// height: 108px;
			}

			& .btn-search {
				background-color: $highlight-ternary;
				border-radius: 0;
				border: 0;
				padding: 16px 20px;
				margin-top: 0;
				& span {
					font-size: 2rem !important;
					color: white;
				}
			}
		}
		&-mainnav {
			flex-direction: row;
			justify-content: center;
			&__container {
				width: 100%;
				height: inherit;
				display: flex;
				overflow: initial;
			}
			& .nav {
				flex-direction: row;
				top: 0px;
				width: 100%;
				& .nav-item {
					position: static;
					flex-grow: 1;
					text-align: center;
					padding: 0;
					&:hover .dropdown-menu {
						// display: block;
					}
					& .nav-link {
						font-size: 1rem;
						position: relative;
						top: -6px;
						border-top: 6px solid white;
						padding: 23px 25px 15px 25px;
						&:hover {
							border-top: 6px solid $highlight-ternary;
						}
					}
					& .dropdown-menu {
						position: absolute !important;
						top: 6px !important;
						width: 583px;
						transform: translate3d(0px, 62px, 0px) !important;
						padding-bottom: 0;
						&__container {
							display: flex;
							justify-content: flex-start;
							padding: 24px 26px 0px 26px;
						}
						&__item {
							flex: 1 0 31%;
							&-link {
								font-size: 0.875rem;
								position: relative;
								&--image {
									& img {
										width: 100px;
										height: 100px;
									}
									&:hover:after {
										content: "";
										border-radius: 50%;
										position: absolute;
										display: block;
										top: 0px;
										width: 100px;
										height: 100px;
										border: 4px solid white;
									}
								}
							}
							&-text {
							}
						}
					}
				}
				& .nav-item:not(:last-child) {
					& .nav-link {
						border-bottom: none;
					}
				}
				& .nav-item:not(:first-child) {
					border-left: 1px solid $border-light-inverted;
				}
				& .nav-link {
					font-size: 1rem;
					color: #fff;
				}
			}
		}
	}
	#mainnav {
		display: block;
		position: relative;
		width: 917px;
		z-index: 110;
		margin: 0 0 0 30px;
	}
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
	.header {
		&-sticky {
			& .header-content__logo {
			}
			& .dropdown-menu {
				width: 917px !important;
			}
		}
		&-content {
			&__logo {
				width: 287px;
				height: 108px;
				max-width: unset;
			}
		}
		&-mainnav {
			margin-top: 4px;
			& .nav {
				& .nav-item {
					& .nav-link {
						font-size: 1.25rem;
					}
					& .dropdown-menu {
						width: 887px;
						&__container {
							justify-content: space-between;
						}
						&__item {
							flex: inherit;
						}
					}
				}
			}
		}
	}
}
