.listing {
	min-height: 1000px;
	& .map-popup {
		position: fixed;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 1250;
		&__controls {
			position: absolute;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $border-xlight;
			top: 0;
			left: 0;
			width: 100%;
			background-color: white;
			z-index: 1300;
			padding: 8px;
			&-fields {
				width: 87.5%;
				display: flex;
				& > * {
					flex-grow: 1;
					select {
						width: 100%;
					}
				}
			}
			span {
				margin-left: 0;
			}
			button {
				width: 48px;
				height: 48px;
			}
		}
		#map {
			width: 100%;
			height: 100%;
			z-index: 1150;
		}
	}
	&-header {
		display: flex;
		justify-content: space-between;
		// margin-bottom: 12px;
		&__controls {
			position: relative;
			&-container {
				display: flex;
				flex-direction: column;
				padding: 10px;
				height: 100vh;
			}
			&-inputs {
				display: flex;
				flex-direction: column;
				padding: 30px;
				& label {
					// margin-bottom: 16px;
				}
				& select {
					width: 100%;
				}
			}
			&-actions {
				position: absolute;
				display: flex;
				width: 100%;
				justify-content: space-between;
				padding: 10px;
				bottom: 0px;
				left: 0px;
				& > :last-child {
					margin-left: 8px;
					flex: 1 0 auto;
				}
			}
		}
	}
	&-content {
		margin-top: 16px;
		& div:last-child .card hr {
			background-color: white;
		}
	}
}
.listing-filter {
	position: fixed !important;
	background-color: white;
	z-index: 1250;
	bottom: 0;
	left: 0;
	width: 100vw;
	max-height: 100vh;
}

.map-card {
	// overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding: 24px;
	font-family: "open_sansregular";
	max-height: 400px;
	box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
	& .card {
		&-tag {
			max-width: 280px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&-title {
			max-width: 280px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&:after {
		position: absolute;
		bottom: -22px;
		left: calc(50% - 9px);
		content: "|";
		color: white;
		font-size: 2rem;
		opacity: 0.8;
	}
	& img {
		max-width: 280px;
		max-height: 210px;
	}
	& a {
		text-decoration: none;
	}
}
.popup-bubble {
	transform: translate(-50%, -114%);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
	/* Position the div a fixed distance above the tip. */
	position: absolute;
	width: 100%;
	bottom: /* TIP_HEIGHT= */ 8px;
	left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	/* Center the tip horizontally. */
	transform: translate(-50%, 0);
	/* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
	width: 0;
	height: 0;
	/* The tip is 8px high, and 12px wide. */
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
	cursor: auto;
	height: 0;
	position: absolute;
	/* The max width of the info window. */
	width: 328px;
}

////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.listing {
		&-content {
			margin: 0 -22px;
			& div {
				& .card a {
					border-left: 1px solid $border-xlight;
				}
				&:nth-child(2n + 1) .card a {
					border-left: 0;
				}
			}
		}
	}
}
////////////////////////////////////////////
//  ------------- DESKTOP --------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	.listing {
		&-header {
			&__controls {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				&-inputs {
					width: 100%;
					padding: unset;
					flex-direction: row;
				}
				&-container {
					height: unset;
					padding: unset;
					display: block;
					padding: 10px;
					// width: 70%;
					& label {
						flex: 1 0 auto;
						& select {
							margin-left: 6px;
							width: 100%;
						}
					}
				}
			}
		}
		.map-popup {
			&__controls {
				&-fields {
					width: 70%;
				}
			}
		}
		&-filter {
			display: flex !important;
			position: relative !important;
			justify-content: flex-end;
			background-color: white;
			z-index: unset;
			width: 100%;
			max-height: 58px;
		}
		&-content {
			& div {
				&:nth-child(2n + 1) .card a {
					border-left: 1px solid $border-xlight;
				}
				&:nth-child(3n + 1) .card a {
					border-left: 0;
				}
			}
		}
	}
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
	.listing {
		&-header {
			&__controls {
				& select {
					// min-width: 290px;
				}
			}
		}
		&-content {
			& div {
				&:nth-child(3n + 1) .card a {
					border-left: 1px solid $border-xlight;
				}
				&:nth-child(4n + 1) .card a {
					border-left: 0;
				}
			}
		}
	}
}
