.searchbox {
	position: absolute;
	width: 100%;
	background-color: white;
	font-size: 0.8rem;
	z-index: $zindex-popover;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	&-container {
		display: flex;
		height: 80px;
		flex-direction: row;
		align-items: center;
	}
	&-icon {
		font-size: 1.5rem;
	}
	&-field {
		flex-grow: 1;
		padding: 0 6px;
		& input[type="text"] {
			width: 100%;
			border: 0;
			outline: none;
		}
	}
	&-submit {
		padding: 0 8px;
	}
	&-close {
		cursor: pointer;
		font-size: 1.5rem;
		// padding: 0 16px;
	}
}
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.searchbox {
		font-size: 1.25rem;
		&-container {
			height: 120px;
		}
		&-icon {
			font-size: 2rem;
		}
		&-field {
		}
		&-submit {
			padding: 0 45px;
		}
		&-close {
			// padding: 0 16px;
		}
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	.searchbox {
		padding: 0 2rem;
		&-container {
		}
		&-icon {
		}
		&-field {
			padding: 0 16px;
			& input[type="text"] {
			}
		}
		&-submit {
		}
		&-close {
			font-size: 2rem;
			// padding: 0 16px;
		}
	}
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
}
