@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

ol,
ul,
dl {
	margin: 0;
	padding: 0;
}

.container {
	padding-right: 30px !important;
	padding-left: 30px !important;
	font-weight: 500;
}

// INPUTS
// - Selects
select {
	background-color: white;
	border: 1px solid #e2e2e2;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><path d='M13.6643 6.91924L12.3356 8.41406L6.99994 3.67127L1.66431 8.41406L0.335579 6.91924L6.99994 0.995365L13.6643 6.91924Z'/></svg>");
	background-position: calc(100% - 5px) calc(100% + 2px);
	background-repeat: no-repeat;
	height: 48px;
	min-width: 220px;

	// box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

select:active {
	background-color: white;
}

select:focus {
	background-color: white;

	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><path d='M0.335693 2.08076L1.66442 0.585938L7.00006 5.32873L12.3357 0.585938L13.6644 2.08076L7.00006 8.00464L0.335693 2.08076Z'/></svg>");
	background-position: calc(100% - 5px) calc(100% + 2px);
	background-repeat: no-repeat;

	// box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

// .wall {
// 	padding-right: 0px !important;
// 	padding-left: 0px !important;
// }

$text-color: #36363f;
$text-light: #86868c;

$titles-color: #000023;

$body-bg: #fff;
$body-color: $text-color;

// $text-primary: #0e0e10;
$text-primary: #36363f;
$text-secondary: #86868c;

$highlight-ternary: #ed1940;

$background-primary: #000023;
$background-secondary: #0e0e10;
$background-ternary: #1a1a39;

$border-light: #e2e2e2;
$border-xlight: rgb(225, 225, 225);
$border-light-inverted: rgba(255, 255, 255, 0.2);

$border-radius: 4px;

$breadcrumbs_separator_color: #afafb2;

// BACKDROP
.modal-backdrop.show {
	opacity: 0.15 !important;
}

// input[type="button"] {
//   cursor: pointer;
// }

$grid-breakpoints: (
	// Extra small screen / phone
		xs: 0,
	// Small screen / phone
		sm: 576px,
	// Medium screen / tablet
		md: 768px,
	// Large screen / desktop
		lg: 992px,
	// Extra large screen / wide desktop
		xl: 1280px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1264px
);

$theme-colors: (
	"primary": #ed1940,
	"secondary": #000023,
	"ternary": #f5f5f5,
	"dark": #000023,
	"light": #f5f5f5
);

@import "~bootstrap/scss/bootstrap";
