body {
	font-family: "open_sansregular", sans-serif;
	font-size: 16px;
}

a,
a:hover,
a:visited,
a:active {
	color: $text-primary;
}

// OPEN SANS
@font-face {
	font-family: "open_sansregular";
	src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
		url("../fonts/opensans-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "open_sansbold";
	src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
		url("../fonts/opensans-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "open_sansregular";
	src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
		url("../fonts/opensans-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

// GIBSON
// @font-face {
//   font-family: "gibsonbold";
//   src: url("../fonts/gibson-bold-webfont.woff2") format("woff2"),
//     url("../fonts/gibson-bold-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "gibsonregular";
//   src: url("../fonts/gibson-regular-webfont.woff2") format("woff2"),
//     url("../fonts/gibson-regular-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

///////////
// ICONS //
///////////

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?ltteee");
	src: url("../fonts/icomoon.eot?ltteee#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?ltteee") format("truetype"), url("../fonts/icomoon.woff?ltteee") format("woff"),
		url("../fonts/icomoon.svg?ltteee#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}
.icon-inactive {
	opacity: 0.2;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
	content: "\e91b";
}
.icon-insta:before {
	content: "\e91c";
}
.icon-airplane:before {
	content: "\e900";
}
.icon-angle_down:before {
	content: "\e901";
}
.icon-angle_down_lg:before {
	content: "\e902";
}
.icon-angle_down_sm:before {
	content: "\e903";
}
.icon-angle_left:before {
	content: "\e904";
}
.icon-angle_left_lg:before {
	content: "\e905";
}
.icon-angle_right:before {
	content: "\e906";
}
.icon-angle_right_lg:before {
	content: "\e907";
}
.icon-angle_right_xs:before {
	content: "\e908";
}
.icon-angle_up:before {
	content: "\e909";
}
.icon-angle_up_lg:before {
	content: "\e90a";
}
.icon-angle_up_sm:before {
	content: "\e90b";
}
.icon-car:before {
	content: "\e90c";
}
.icon-check:before {
	content: "\e90d";
}
.icon-close:before {
	content: "\e90e";
}
.icon-filter:before {
	content: "\e90f";
}
.icon-mail:before {
	content: "\e919";
}
.icon-map:before {
	content: "\e911";
}
.icon-marker .path1:before {
	content: "\e912";
	color: rgb(237, 25, 64);
}
.icon-marker .path2:before {
	content: "\e913";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-marker_lg:before {
	content: "\e914";
}
.icon-menu:before {
	content: "\e915";
}
.icon-minus:before {
	content: "\e916";
}
.icon-phone:before {
	content: "\e917";
}
.icon-price:before {
	content: "\e918";
}
.icon-search:before {
	content: "\e910";
}
.icon-union:before {
	content: "\e91a";
}
.icon-arrow-down:before {
	content: "\e91d";
	color: #fff;
}
