html {
	position: relative;
	display: block;
	scroll-behavior: smooth;
}

html:before {
	position: absolute;
	display: block;
	content: "";
	width: 5px;
	height: 100%;
	background-image: url("../img/binding.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: $zindex-fixed - 10;
}

#search-box {
	z-index: $zindex-popover;
}
// #leftstripe {
// 	z-index: $zindex-fixed;
// 	position: fixed;
// 	top: 0px;
// 	left: 0px;
// 	width: 5px;
// 	height: 100vh;
// 	background: url("../img/binding.png");
// 	background-size: 100% 100%;
// }
.container {
	&-wall {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

#page {
	//   z-index: 100;
}

////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	html:before {
		width: 10px;
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	html:before {
		width: 12px;
	}
	.container {
		&-wall {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	#page {
		//   z-index: 100;
		// margin-top: 176px;
	}
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
	html:before {
		width: 20px;
	}
}
