///////////////
// HAMBURGER //
///////////////
//
.icon-bar {
	width: 27px;
	height: 4px;
	background-color: black;
	display: block;
	margin-top: 4px;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}

.navbar-toggler .top-bar {
	transform: rotate(0);
	position: relative;
	top: -1px;
}

.navbar-toggler .middle-bar {
	opacity: 1;
}

.navbar-toggler .bottom-bar {
	transform: rotate(0);
	position: relative;
	top: 1px;
}

.header-mainnav {
	.navbar-toggler {
		position: absolute;
		top: 22px;
		left: 19px;
		& .icon-bar {
			background-color: #fefefe;
		}
	}
	.navbar-toggler .top-bar {
		transform: rotate(45deg);
		transform-origin: 50%;
		top: 8px;
	}
	.navbar-toggler .middle-bar {
		opacity: 0;
	}
	.navbar-toggler .bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 50%;
		top: -8px;
	}
	.navbar-close {
		margin: 0 !important;
	}
}
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.header-content {
		.navbar-toggler {
			margin-top: -25px;
		}
	}
}

///////////////
//   MIXINS  //
///////////////
//
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
	overflow: hidden;
	position: relative;
	line-height: $lineHeight;
	max-height: $lineHeight * $lineCount;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
	&:before {
		content: "...";
		position: absolute;
		right: 5px;
		bottom: 0;
	}
	&:after {
		content: "";
		position: absolute;
		right: 5px;
		width: 1em;
		height: 1em;
		margin-top: 0.2em;
		background: $bgColor;
	}
}
