body {
	font-weight: 500;
}
.text {
	&-1 {
		font-size: 3.75rem;
		line-height: 68px;
	}
	&-2 {
		font-size: 2.5rem;
		line-height: 40px;
	}
	&-3 {
		font-size: 1rem;
		line-height: 28px;
	}
	&-4 {
		font-size: 1.625rem;
		line-height: 32px;
	}
}

.title {
	font-family: "canada-type-gibson";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "canada-type-gibson";
	color: $titles-color;
	font-weight: 600;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 1.625rem;
	line-height: 32px;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.625rem;
}
h6 {
	font-size: 1.25rem;
}
p {
	&.page-intro {
		font-family: "canada-type-gibson";
		font-weight: 100;
	}
}
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "canada-type-gibson";
		color: $titles-color;
		font-weight: 600;
	}
	h1 {
		font-size: 3rem;
		line-height: 68px;
		margin-bottom: 0;
		& + hr {
			margin-top: 2px;
			margin-bottom: 40px;
		}
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 2rem;
	}
	h5 {
		font-size: 1.625rem;
	}
	h6 {
		font-size: 1.25rem;
	}
	p {
		&.page-intro {
			font-family: "canada-type-gibson";
			font-weight: 100;
		}
	}
	.text {
		&-1 {
			font-size: 3.75rem;
			line-height: 68px;
		}
		&-2 {
			font-size: 2.5rem;
			line-height: 40px;
		}
		&-3 {
			font-size: 1.5rem;
			line-height: 36px;
		}
		&-4 {
			font-size: 1.625rem;
			line-height: 32px;
		}
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "canada-type-gibson";
		color: $titles-color;
		font-weight: 600;
	}
	h1 {
		font-size: 3.75rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
		line-height: 36px;
	}
	h4 {
		font-size: 2rem;
	}
	h5 {
		font-size: 1.625rem;
	}
	h6 {
		font-size: 1.25rem;
	}
	p {
		&.page-intro {
			font-family: "canada-type-gibson";
			font-weight: 100;
		}
	}
}
