// BUTTONS
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 20px;
	color: #000023;
	font-weight: 700;
	border-radius: $border-radius;
	&:active,
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
	& [class*="icon-"] {
		font-size: 1.3rem;
	}
	&-primary {
		color: white !important;
	}
	&-secondary {
		color: white !important;
		[class*="icon-"] {
			color: map-get($theme-colors, "primary");
		}
		&:hover {
			background-color: $background-ternary;
			border-color: $background-ternary;
			span {
				color: white !important;
			}
		}
	}
	&-ternary {
		color: #000023;
		border: 1px solid $border-xlight;
		&:hover {
			background-color: white;
		}
	}
	&-icon {
		[class*="icon-"] {
			font-weight: 500;
			font-size: 1.5rem;
		}
	}
	&-subscribe {
		background-color: white;
	}
	&-loadmore {
		width: 100%;
		font-weight: 900;
	}
	&-filters {
		padding-left: 50px;
		[class*="icon-"] {
			margin-left: 40px !important;
		}
	}
	&-outline {
		color: white;
		font-size: 1rem;
		line-height: 1rem;
		padding: 14px 36px;
		background: none;
		border: 2px solid white;
		border-radius: 4px;
		&:hover {
			background-color: white;
			color: $text-color;
		}
	}
	&-round {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
		color: black;
		font-size: 1.5rem;
		width: 40px;
		height: 40px;
		&__inverted {
			background-color: map-get($theme-colors, "secondary");
			color: white;
		}
	}
}

// Inputs
@mixin select-icon {
	font-family: "icomoon";
	speak: none;
	pointer-events: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	font-size: 1.25rem;
	color: $background-secondary;
	height: 100%;
	width: 40px;
	padding: 14px 8px;
}

.drop-down {
	position: relative;
	display: flex;
	flex-direction: column;
	&__select {
		position: relative;
		margin: 0 0 12px 0;
		& select {
			/* reset */
			box-sizing: border-box;
			appearance: none;
			outline: none;
			border: 1px solid $border-xlight;
			background-color: white;
			margin: 0;
			padding: 0 48px 0 6px;
			height: 48px;
		}
		height: 48px;
		padding: 5px;
	}
}

// Global
.page {
	&-intro {
		max-width: 100%;
	}
	&-content {
		position: relative;
		padding-top: 39px;
		// top: -40px;
	}
	&-landing {
		position: relative;
		margin-top: -70px;
		overflow: hidden;
		&__hero {
			& img {
				position: relative;
				display: block;
				width: 100vw;
				height: 100vh;
				max-height: 800px;
				object-fit: cover;
			}
			&-label {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				position: absolute;
				font-weight: 600;
				padding: 0 30px;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				max-height: 800px;
				color: white;
				user-select: none;
				font-family: "canada-type-gibson";
				font-size: 2.5rem;
				line-height: 40px;
				z-index: 92;
				& input {
					margin-top: 32px;
				}
			}
			&-footer {
				position: absolute;
				width: 100%;
				bottom: 30px;
				left: 0px;
				font-size: 0.875rem;
				color: white;
				z-index: 93;
				& span {
					position: relative;
					font-size: 1.4rem;
					margin-right: 10px;
					margin-bottom: 7px;
				}
				& .container {
					display: flex;
					justify-content: space-between;
					padding: 0 30px;
				}
			}
			&-gradtop {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				max-height: 800px;
				background: linear-gradient(180deg, #ffffff 14.12%, rgba(255, 255, 255, 0) 36.38%, rgba(14, 14, 16, 0.45) 99.5%),
					rgba(0, 0, 35, 0.25);
				z-index: 90;
			}
		}
		&__bottom {
			position: relative;
			top: -65px;
			background-color: $background-primary;
			&-intro {
				color: white;
				display: flex;
				flex-direction: column;
				& p {
					font-size: 1.5rem;
					line-height: 36px;
					padding: 32px 15px;
					font-family: "canada-type-gibson";
					font-weight: 200;
				}
			}
			.wall-item__label {
				font-size: 2rem;
				line-height: 36px;
			}
			&-row {
				margin-bottom: 49px;
				overflow: hidden;
				padding: 0 8px;
				& .wall-item__single {
					padding: 0 6px 24px 6px;
				}
			}
			&-shape {
				padding: 0;
				background-color: white;
				& img {
					width: 100% !important;
				}
			}
		}
	}
}
.hr {
	&-title {
		margin-bottom: 40px;
	}
}
.detail {
	.carousel-indicators {
		bottom: -20px;
	}
}
.results {
	&-header {
		margin-bottom: 48px;
		&__search {
			position: relative;
			&-input {
				width: 100%;
				border: 1px solid $border-xlight;
				padding: 12px 12px 12px 47px;
			}
			&:before {
				font-family: "icomoon";
				content: "\e919";
				position: absolute;
				font-size: 1.5rem;
				left: 14px;
				top: 8px;
			}
		}
	}
}
.aside {
	&-location {
		position: relative;
		& #map {
			width: 100%;
			height: 240px;
		}
		&__details {
			padding-bottom: 24px;
			border-bottom: 1px solid $border-xlight;
			list-style-type: none;
			& li {
				// list-style-position: outside;
				padding-left: 1.875rem;
				text-indent: -1.875rem;
			}
			&-address {
				&:before {
					position: relative;
					top: 4px;
					font-family: "icomoon";
					font-size: 1.4rem;
					margin-right: 10px;
					content: "\e914";
				}
			}
			&-phone {
				&:before {
					position: relative;
					top: 4px;
					font-family: "icomoon";
					font-size: 1.4rem;
					margin-right: 10px;
					content: "\e917";
				}
			}
			&-email {
				&:before {
					position: relative;
					top: 4px;
					font-family: "icomoon";
					font-size: 1.4rem;
					margin-right: 10px;
					content: "\e919";
				}
			}
			&-price {
				&:before {
					position: relative;
					top: 4px;
					font-family: "icomoon";
					font-size: 1.4rem;
					margin-right: 10px;
					content: "\e918";
				}
			}
		}
		&__links {
			display: flex;
			flex-direction: column;
			padding-top: 8px;
			& .btn {
				width: 100%;
				&:first-child {
					margin-bottom: 8px;
				}
				&:last-child {
					// margin-left: 5px;
				}
			}
		}
	}
}
.landing-aside {
	position: relative;
	// margin-top: -100px;
}
.img-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(14, 14, 16, 0) 34.9%, rgba(14, 14, 16, 0.35) 100%);
}

hr {
	border: 0;
	height: 4px;
	background-color: $background-primary;
	margin-top: 9px;
}

// Images
.img {
	&-fluid {
		margin-bottom: 12px;
		&__legend {
			text-align: right;
			color: $text-light;
			font-size: 0.875rem;
			margin-bottom: 2rem;
		}
	}
	&-hero {
		margin-bottom: 32px;
	}
}

.text {
	margin-bottom: 2rem;
	&-title {
		font-weight: 500;
		font-family: "canada-type-gibson", sans-serif;
	}
	&-intro {
		font-size: 1rem;
		margin-bottom: 3rem;
	}
	&-content {
		font-size: 0.875rem;
		&-multicol {
			display: flex;
			flex-direction: column;
			& > * {
				margin-bottom: 36px;
				& :not(:first-child) {
					margin-left: 0px;
				}
			}
		}
	}
}

// Carousel
.carousel {
	margin-bottom: 4rem;
	&-indicators > li {
		border-radius: 50%;
		width: 8px;
		height: 8px;
		background-color: rgba($background-secondary, 0.2);
		margin: 0 6px;
		&.active {
			background-color: $background-secondary;
		}
	}
	&-item {
		height: 430px;
		img {
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			min-height: 400px;
		}
	}
	&.carousel-badge {
		.carousel-item {
			display: block;
			text-align: center;
			// justify-content: center;
			// min-height: 285px;
			height: unset;
			img {
				position: absolute;
				object-fit: cover;
				top: 0;
				left: 0;
				min-height: 400px;
			}
			&__badge {
				position: relative;
				border-radius: 50%;
				width: 136px;
				height: 136px;
				overflow: hidden;
				margin-left: auto;
				margin-right: auto;
				img {
					position: relative;
					width: 100%;
					min-width: 136px;
					min-height: 136px;
				}
			}
			.carousel-caption {
				top: 0px;
			}
		}
		.carousel-caption {
			display: block;
			position: relative;
			top: 130px;
			font-family: "canada-type-gibson";
			color: $titles-color;
			&__text {
				font-size: 1.25rem;
				line-height: 28px;
				font-weight: 600;
				margin-bottom: 12px;
			}
			&__label {
				font-size: 0.75rem;
				line-height: 20px;
				text-transform: uppercase;
				letter-spacing: 4px;
				font-weight: 200;
			}
		}
		.carousel-indicators {
			position: relative;
			bottom: 30px;
		}
	}
	&-inner {
		// overflow: hidden;
	}
	&-indicators {
		bottom: -50px;
	}
	&-caption {
		color: $text-light;
		right: 0;
		left: auto;
		bottom: inherit;
		top: 390px;
	}
}
.page-landing {
	.carousel {
		&-item {
			height: 100vh;
			max-height: 800px;
		}
		&-indicators {
			bottom: 10px;
			& li {
				background-color: white;
			}
		}
	}
	&__hero {
		&-location {
			position: absolute;
			width: 100%;
			bottom: 20px;
			z-index: 92;
			color: white;
			& .row {
				padding: 0 30px;
				display: flex;
				align-items: center;
				font-size: 0.875rem;
				color: white;
				& span {
					margin-right: 6px;
					font-size: 1.4rem;
				}
			}
		}
	}
}

// Tables
.tablesaw {
	width: 100%;
	margin-bottom: 4rem;
	th {
		border-bottom: 2px solid $background-primary;
		white-space: nowrap;
		&:first-child {
			width: 122px !important;
		}
	}
	tr {
		border-bottom: 1px solid rgba($background-primary, 0.2);
	}
}
.tablesaw-swipe-cellpersist {
	padding-left: 0 !important;
}
.tablesaw-swipe .tablesaw-swipe-cellpersist {
	border-right: 0 !important;
}

// Collapse icons
[data-toggle="collapse"].show-state:after {
	font-family: "icomoon";
	margin-right: 13px;
	font-size: 1.4rem;
	content: "\e916";
}
[data-toggle="collapse"].show-state.collapsed:after {
	font-family: "icomoon";
	margin-right: 16px;
	font-size: 1rem;
	content: "\e91a";
}
[data-toggle="collapse"].show-state-left:before {
	font-family: "icomoon";
	content: "\e916";
	margin-right: 16px;
}
[data-toggle="collapse"].show-state-left.collapsed:before {
	font-family: "icomoon";
	content: "\e91a";
	margin-right: 16px;
}

// Accordions
.accordion {
	padding-top: 1rem;
	padding-bottom: 4rem;
	&-wide {
		&__label {
			border-bottom: 2px solid $background-primary;
			display: flex;
			font-weight: 700;
			padding: 0.5rem;
			user-select: none;
			& span {
				padding: 0.25rem 0.5rem;
			}
			&:hover {
				text-decoration: none;
			}
			.icon-expand {
				color: $background-secondary;
			}
		}
		ul {
			margin-bottom: 0;
			&:last-child {
				border-bottom: 2px solid $background-primary;
				li {
					padding: 4px 28px;
					&:last-child {
						padding-bottom: 16px;
					}
				}
			}
		}
	}
	& ul {
		padding-left: 12px;
		list-style: none;
	}
}

// Styledlist
.styledlist {
	list-style: none;
	counter-reset: count;
	padding-top: 1rem;
	padding-bottom: 4rem;
	li {
		counter-increment: count;
		margin-bottom: 1rem;
		display: flex;
	}
	li:before {
		content: counter(count);
		color: white;
		border-radius: 50%;
		background-color: $highlight-ternary;
		width: 24px;
		height: 24px;
		padding: 0 7px;
		font-weight: bold;
		margin-right: 1em;
	}
	&-facilities {
		list-style: none;
		li:before {
			font-family: "icomoon";
			font-weight: 900;
			margin-right: 8px;
			content: "\e916";
		}
	}
}

// Tabs
.navtab {
	padding-top: 1rem;
	padding-bottom: 4rem;
	&__item {
		padding: 6px 10px;
		font-size: 0.875rem;
		font-weight: 700;
		&.active {
			border-bottom: 4px solid map-get($theme-colors, "primary");
		}
		&:hover {
			text-decoration: none;
		}
	}
	.tab-content {
		background-color: map-get($theme-colors, "ternary");
		padding: 32px 40px 60px 40px;
		margin-top: 8px;
	}
	.tab {
		&-pane {
			& img {
				float: left;
				margin-right: 2rem;
				margin-bottom: 2rem;
			}
		}
	}
	&-results {
		.nav {
			&-item {
				padding: 0;
				a {
					background-color: map-get($theme-colors, "ternary");
					border: 1px solid $border-xlight;
					display: block;
					padding: 16px 32px;
					margin-top: 4px;
				}
				a.active {
					background-color: white;
					border-top: 4px solid map-get($theme-colors, "primary");
					border-bottom: 0;
					margin-top: 0;
				}
				&:not(:first-child) a {
					border-left: 0;
				}
			}
		}
	}
}

// Bar
.bar {
	&-horizontal {
		display: flex;
		justify-content: space-between;
		&__item {
			display: flex;
			align-items: center;
			font-size: 0.875rem;
			&-title {
				font-weight: 700;
			}
			& > * {
				margin-right: 12px;
			}
		}
	}
}

// Images wall
.wall {
	padding: 0 30px;
	&-item {
		&__container {
			position: relative;
			height: 380px;
			overflow: hidden;
		}
		&__social {
			max-height: 225px !important;
			&-image {
				display: block;
				max-width: 300px;
				max-height: 300px;
				width: auto;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&__label {
			position: absolute;
			width: 72%;
			font-family: "canada-type-gibson";
			font-weight: 500;
			font-size: 1.625rem;
			line-height: 36px;
			color: white;
			bottom: 0px;
			padding: 28px;
			z-index: 20;
		}
		&__gradient {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(14, 14, 16, 0) 34.9%, rgba(14, 14, 16, 0.35) 100%);
			z-index: 10;
		}
		&__full {
			padding: 0 15px 24px 12px;
			.wall-item {
				&__container {
					position: relative;
					height: 560px;
					overflow: hidden;
				}
				&__label {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					font-size: 2rem;
					line-height: 36px;
					& span {
						text-align: center;
						padding: 0 16px;
					}
				}
			}
		}
		&__double {
			padding: 0 15px 24px 12px;
			.wall-item {
				&__label {
				}
			}
		}
		&__single {
			padding: 0 15px 24px 12px;
			.wall-item {
				&__label {
					&-date {
						font-size: 0.875rem;
						line-height: 20px;
					}
				}
			}
		}
	}
	&-nav {
		&__btn {
			font-size: 1.6rem;
			margin-left: 8px;
		}
	}
}
.wall-preview {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
		& h3 {
			// font-size: 2rem;
			margin: 0;
		}
		&-social a {
			font-size: 1.5rem;
			padding: 0 10px;
			&:hover {
				text-decoration: none;
			}
		}
		&-links {
			display: flex;
			justify-content: flex-end;
			min-width: 20%;
			font-size: 0.875rem;
			font-weight: 600;
			a:hover {
				text-decoration: none;
			}
		}
	}
	&__social {
		margin-top: -20px;
		padding-bottom: 24px;
		text-align: center;
	}
}

////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
	.nav {
		flex-wrap: nowrap;
	}
	.text {
		&-title {
		}
		&-intro {
		}
		&-content {
			&-multicol {
				flex-direction: row;
				& > * {
					margin-bottom: 0px;
					&:not(:first-child) {
						margin-left: 45px;
					}
				}
			}
		}
	}
	.aside {
		&-location {
			&__details {
				// padding-bottom: 24px;
				// border-bottom: 1px solid $border-xlight;
			}
			&__links {
				// display: flex;
				flex-direction: row;
				// padding-top: 8px;
				& .btn {
					width: 100%;
					&:first-child {
						margin-right: 5px;
						margin-bottom: 0;
					}
					&:last-child {
						margin-left: 5px;
					}
				}
			}
		}
	}

	.btn {
		&-icon {
			[class*="icon-"] {
				margin-left: 8px;
			}
		}
		&-loadmore {
			width: 32%;
		}
	}

	.page {
		&-landing {
			margin-top: -110px;
			&__hero {
				&-label {
					font-size: 3.75rem;
					line-height: 68px;
				}
			}
			&__bottom {
				&-intro {
					flex-direction: row;
				}
			}
		}
	}

	// Styledlist
	.styledlist {
		&-facilities {
			columns: 2;
		}
	}

	// Images wall
	.wall {
		&-item {
			padding-right: 12px;
			padding-left: 12px;
			&__container {
				&-main {
					& .wall-item__label {
						font-size: 3.75rem;
						line-height: 68px;
						& span {
							padding: 0 16px;
						}
					}
				}
			}
			&__full {
				.wall-item {
					padding: 0 12px 24px 12px;
					&__container {
						position: relative;
						height: 560px;
						overflow: hidden;
					}
					&__label {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						font-size: 3.75rem;
						line-height: 68px;
						& span {
							text-align: center;
							padding: 0 16px;
						}
					}
				}
			}
			&__double {
				padding: 0 12px 24px 12px;
				.wall-item {
					&__label {
						font-size: 2.5rem;
						line-height: 40px;
					}
				}
			}
			// had to create class between double & single
			&__halftriple {
				padding: 0 12px 24px 12px;
				.wall-item {
					&__label {
						font-size: 2.5rem;
						line-height: 40px;
					}
				}
			}
			&__single {
				padding: 0 12px 24px 12px;
				.wall-item {
					&__label {
						font-size: 1.625rem;
						line-height: 32px;
					}
				}
			}
			&__social {
				max-height: 203px !important;
			}
		}
	}
	// Carousel
	.carousel {
		&.carousel-badge {
			.carousel-caption {
				&__text {
					font-size: 1.625rem;
					line-height: 32px;
				}
			}
		}
	}
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
	.page {
		&-intro {
			max-width: 536px;
			font-size: 1.5rem;
		}
		&-landing {
			position: relative;
			margin-top: -155px;
			&__hero {
				&-label {
					font-family: "canada-type-gibson";
					font-size: 4.5rem;
					line-height: 80px;
				}
			}
			&__bottom {
				position: relative;
				// top: -230px;
				&-intro {
					// flex-direction: row;
					& p {
						width: 60%;
						font-size: 1.5rem;
						line-height: 36px;
						padding: 6rem 5rem;
					}
				}
				.wall-item__label {
					font-size: 2.5rem;
					line-height: 40px;
				}
				&-shape {
					padding: 0;
					background-color: white;
					& img {
						width: 100% !important;
					}
				}
			}
		}
		&-content {
			position: relative;
			// top: -130px;
		}
	}
	.aside {
		&-location {
			// position: fixed;
		}
	}
	.landing-aside {
		// margin-top: -190px;
	}

	// quicklinks
	.quicklinks {
		position: fixed;
		height: 144px;
		width: 362px;
		top: calc(50vh - 118px);
		z-index: $zindex-fixed + 10;
		& a {
			font-size: 1.4rem;
		}
		& img {
			position: absolute;
			z-index: $zindex-fixed + 15;
			top: 0;
			left: 0;
			width: 362px;
			height: auto;
			max-height: 144px;
		}
		&-teaser {
			position: absolute;
			z-index: $zindex-fixed + 20;
			height: 144px;
			width: 362px;
			display: flex;
			justify-content: center;
			user-select: none;
			flex-direction: column;
			padding: 28px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.15s ease-out;
			color: white;
			& span {
				position: relative;
				font-size: 0.875rem;
				line-height: 28px;
				// font-weight: 800;
				z-index: $zindex-fixed + 30;
			}
			& .img-gradient {
				z-index: $zindex-fixed + 25;
			}
			&__label {
				font-family: "canada-type-gibson";
				font-size: 1.25rem !important;
			}
		}
		&-left {
			@extend .quicklinks;
			left: 0;
			.quicklinks-link {
				@extend .quicklinks-link;
				& a {
					left: 0;
				}
				& .quicklinks-teaser {
					left: -40px;
					align-items: flex-end;
				}
				&:hover .quicklinks-teaser {
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&-right {
			@extend .quicklinks;
			right: 0;
			.quicklinks-link {
				@extend .quicklinks-link;
				& a {
					right: 0;
				}
				& .quicklinks-teaser {
					right: -40px;
					align-items: flex-start;
				}
				&:hover .quicklinks-teaser {
					right: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&-link {
			& a {
				position: absolute;
				z-index: $zindex-fixed + 30;
				background-color: $background-primary;
				width: 64px;
				height: 64px;
				top: 40px;
				color: white;
				padding: 1.2rem 1.2rem;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.drop-down {
		&__select {
			padding: 0 5px;
			margin: 0;
		}
	}

	.text {
		&-intro {
			font-size: 1.25rem;
			line-height: 32px;
		}
	}

	// Tabs
	.navtab {
		&__item {
			padding: 6px 32px;
		}
	}
	// Images wall
	.wall {
		padding: 0;
		margin: 0 -15px;
		&-item {
			padding-bottom: 24px;
			&__container {
			}
			&__label {
				font-weight: 600;
				font-size: unset;
				user-select: none;
			}
			&__social {
				max-height: 205px !important;
			}
		}
	}
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
	.page {
		&-intro {
			max-width: 936px;
			margin-bottom: 30px;
		}
		&-landing {
			margin-top: -170px;
		}
	}
	// Images wall
	.wall {
		&-item {
			&__social {
				max-height: 178px !important;
			}
		}
	}
}
