@import "custom";
@import "settings";
@import "layout";
@import "fonts";
@import "ui";
@import "typos";
@import "page";
@import "carousels";
@import "tablesaw";

@import "./components/header";
@import "./components/footer";
@import "./components/gototop";
@import "./components/breadcrumbs";
@import "./components/listing";
@import "./components/card";
@import "./components/searchbox";

// REMOVE FOR PROD !! -------------------------------------\/

// Template
////////////////////////////////////////////
//  ------------- TABLET ---------------  //
////////////////////////////////////////////
//
@include media-breakpoint-up(md) {
}
/////////////////////////////////////////////
//  ------------- DESKTOP ---------------  //
/////////////////////////////////////////////
//
@include media-breakpoint-up(lg) {
}
//////////////////////////////////////////////////
//  ------------- WIDE DESKTOP ---------------  //
//////////////////////////////////////////////////
//
@include media-breakpoint-up(xl) {
}

.presentation {
	background-color: rgb(198, 198, 198);
	color: white;
	font-family: "canada-type-gibson";
	font-weight: 100;
	padding: 2rem;
	a {
		color: black;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.styledlist {
		list-style-type: none;
	}

	.styledlist li {
		padding: 0.5rem;
	}
}

// REMOVE FOR PROD !! -------------------------------------/\
