<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li><a href="#">See & Do</a></li>
            <li aria-current="page" class="active">Things to do</li>
        </ul>
    </div>
</div>