<footer class="footer" id="footer">
    <div class="container-fluid footer-head">
        <img src="img/footer_head.svg" alt="">
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <a href="#footerListA" class="footer-list__header show-state collapsed d-lg-none"
                        data-toggle="collapse" aria-expanded="true" aria-controls="footerListA">
                        <div>See & Do</div>
                    </a>
                    <div class="footer-list__header d-none d-lg-block">See & Do</div>
                    <div id="footerListA" class="footer-list collapse d-lg-block" aria-labelledby="headingA"
                        data-parent="#footer">
                        <ul>
                            <li><a href="#" class="footer-list__link">
                                    Top 10 Reasons to Visit</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Things to Do</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Eat & Drink</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Tours</A></li>
                            <li><a href="#" class="footer-list__link">
                                    Itineraries</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Precincts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="#footerListB" class="footer-list__header show-state collapsed d-lg-none"
                        data-toggle="collapse" aria-expanded="true" aria-controls="footerListB">
                        <div>Visitor Information</div>
                    </a>
                    <div class="footer-list__header d-none d-lg-block">Visitor Information</div>
                    <div id="footerListB" class="footer-list collapse d-lg-block" aria-labelledby="headingB"
                        data-parent="#footer">
                        <ul>
                            <li><a href="#" class="footer-list__link">
                                    Top 10 Reasons to Visit</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Things to Do</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Eat & Drink</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Tours</A></li>
                            <li><a href="#" class="footer-list__link">
                                    Itineraries</a></li>
                            <li><a href="#" class="footer-list__link">
                                    Precincts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="#" class="footer-list__header">
                        Stay</a>
                    <a href="#" class="btn footer-list__header">What’s On</a>
                    <a href="#" class="btn footer-list__header">Blog</a>
                    <a href="#" class="btn footer-list__header">Partner Centre</a>
                    <div class="footer-list__sociallinks d-none d-lg-block">
                        <a href="#">
                            <div class="rounded-circle btn-round"><span class="icon-fb"></span></div>
                        </a>
                        <a href="#">
                            <div class="rounded-circle btn-round"><span class="icon-insta"></span></div>
                        </a></div>
                </div>
                <div class="col-12 col-lg-3 accordion">
                    <a href="#footerListC" class="footer-list__header show-state collapsed d-lg-none"
                        data-toggle="collapse" aria-expanded="true" aria-controls="footerListC">
                        <div>Subscribe to our newsletter</div>
                    </a>
                    <div class="footer-list__header d-none d-lg-block">Subscribe to our newsletter</div>
                    <div id="footerListC" class="footer-list collapse d-lg-block" aria-labelledby="headingC"
                        data-parent="#footer">
                        <ul class="footer-list__subscribe">
                            <li><input type="text" name="" id="" placeholder="Your name"></li>
                            <li><input type="email" name="" id="" placeholder="Your email"></li>
                            <li><button class="btn btn-subscribe">Subscribe</button></li>
                        </ul>

                    </div>
                    <div class="footer-list__sociallinks d-lg-none">
                        <a href="#">
                            <!-- Duplicate line 66 -->
                            <div class="rounded-circle btn-round"><span class="icon-fb"></span></div>
                        </a>
                        <a href="#">
                            <!-- Duplicate line 69 -->
                            <div class="rounded-circle btn-round"><span class="icon-insta"></span></div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom__container">
                        <ul class="footer-bottom__globallinks">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">© 2019 The City of Newcastle</a></li>
                        </ul>
                        <div class="footer-bottom__logos">
                            <img src="img/cityofnewcastle_logo_mono.svg" alt="" class="footer-bottom__logo">
                            <img src="img/newcastle_logo_mono.svg" alt="" class="footer-bottom__logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>