<div class="gototop">
    <a href="#" title="Go to top" data-scrollto="{ target: 0, duration: 400 }">
        <div class="btn rounded-circle btn-round">
            <span class="icon-angle_up_lg"></span>
        </div>
    </a>
</div>