<header class="header" id="header">
    <div class="container">
        <div class="header-top d-none d-lg-block col-12">
            <ul id="navsup" class="header-top__navsup">
                <li><a href="#">Partner Centre</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="header-content col-12">
                <button class="navbar-toggler collapsed d-lg-none toggle-pagelock" type="button" data-toggle="collapse"
                    aria-controls="mainnav" data-target="#mainnav" aria-expanded="false" aria-label="Open navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a href="./index.html">
                    <img src="img/newcastle_logo.png" class="header-content__logo mt-1" alt=""></a>
                <nav id="mainnav" class="collapse">
                    <div class="header-mainnav">
                        <div class="header-mainnav__container">
                            <button class="navbar-toggler navbar-close d-lg-none toggle-pagelock" type="button"
                                data-toggle="collapse" aria-controls="mainnav" data-target="#mainnav"
                                aria-expanded="false" aria-label="Close navigation">
                                <span class="icon-bar top-bar"></span>
                                <span class="icon-bar middle-bar"></span>
                                <span class="icon-bar bottom-bar"></span>
                            </button>
                            <ul class="nav">
                                <li class="nav-item dropdown">
                                    <div class="nav-item__container">
                                        <a href="/see-do" class="nav-link">See &amp; Do</a>
                                    </div>
                                    <div class="btn-toggle-item d-lg-none" id="navseeanddo" data-toggle="dropdown"
                                        aria-expanded="true" aria-haspopup="true" role="button">
                                        <span class="icon-union"></span>
                                        <span class="icon-minus"></span>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="navseeanddo">
                                        <ul class="dropdown-menu__container">
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section01.jpg" alt="Section 1"></span>
                                                    <span class="dropdown-menu__item-text">TOP 10</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section02.jpg" alt="S2ction 1"></span>
                                                    <span class="dropdown-menu__item-text">Another Things to
                                                        do</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section03.jpg" alt="Section 1"></span>
                                                    <span class="dropdown-menu__item-text">EAT&
                                                        DRINK</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section04.jpg" alt="Section 4"></span>
                                                    <span class="dropdown-menu__item-text">TOURS </span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section05.jpg" alt="Section 5"></span>
                                                    <span class="dropdown-menu__item-text">PRECINCTS</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section01.jpg" alt="Section 1"></span>
                                                    <span class="dropdown-menu__item-text">Itineraries</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">WHAT’S ON</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">STAY</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <div class="nav-item__container">
                                        <a href="#" class="nav-link">VISITOR INFO</a>
                                    </div>
                                    <div class="btn-toggle-item d-lg-none" id="visitorinfo" data-toggle="dropdown"
                                        aria-expanded="true" aria-haspopup="true" role="button">
                                        <span class="icon-union"></span>
                                        <span class="icon-minus"></span>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="visitorinfo">
                                        <ul class="dropdown-menu__container">
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section01.jpg" alt="Section 1"></span>
                                                    <span class="dropdown-menu__item-text">TOP
                                                        VISITOR</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section02.jpg" alt="Section 2"></span>
                                                    <span class="dropdown-menu__item-text">Things to do and
                                                        some</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section03.jpg" alt="Section 3"></span>
                                                    <span class="dropdown-menu__item-text">TOURS</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section04.jpg" alt="Section 4"></span>
                                                    <span class="dropdown-menu__item-text">EAT &
                                                        DRINK</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section05.jpg" alt="Section 5"></span>
                                                    <span class="dropdown-menu__item-text">ITINERARIES</span></a>
                                            </li>
                                            <li class="dropdown-menu__item">
                                                <a href="" class="dropdown-menu__item-link"><span
                                                        class="dropdown-menu__item-link--image"><img
                                                            src="img/nav/section05.jpg" alt="Section 5"></span>
                                                    <span class="dropdown-menu__item-text">PRECINCTS</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-top d-lg-none">
                                <ul id="navsup" class="header-top__navsup">
                                    <li><a href="#">Partner Centre</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                            <button class="btn-search search-toggle d-none d-lg-flex toggle-pagelock"
                                data-toggle="collapse" data-target="#searchbox" aria-expanded="false"
                                aria-controls="searchbox">
                                <span class="icon-search"></span>
                            </button>
                        </div>
                    </div>
                </nav>
                <button class="btn btn-search search-toggle d-lg-none toggle-pagelock" data-toggle="collapse"
                    data-target="#searchbox" aria-expanded="false" aria-controls="searchbox">
                    <span class="icon-search"></span>
                </button>
            </div>
        </div>
    </div>
</header>