<div id="searchbox" class="searchbox collapse">
  <div class="container">
    <div class="searchbox-container">
      <div class="searchbox-icon"><span class="icon-search"></span></div>
      <div class="searchbox-field">

        <input type="text" name="searchterm" id="" class="" placeholder="What are you searching for?">

      </div>
      <div class="searchbox-submit">
        <input type="button" class="btn btn-primary" value="Search">
      </div>
      <div class="searchbox-close search-toggle toggle-pagelock" data-toggle="collapse" data-target="#searchbox"
        aria-expanded="false" aria-controls="searchbox">
        <span class="icon-close"></span>
      </div>
    </div>
  </div>
</div>