<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Visit NEWCASTLE FE</title>
  <link rel="stylesheet" href="https://use.typekit.net/lhm0ete.css">
  <link href="./css/styles.scss" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

</head>


<body>

  <!-- SearchBox --------------------------------------------------------------- SearchBox -->
  <include src="./components/searchbox.html"></include>

  <div id="page">

    <!-- GoToTop --------------------------------------------------------------- GoToTop -->
    <include src="./components/gototop.html"></include>

    <!-- Header --------------------------------------------------------------- Header -->
    <include src="./components/header.html"></include>

    <!-- Breadcrumbs --------------------------------------------------------------- Breadcrumbs -->
    <include src="./components/breadcrumbs.html"></include>

    <!-- Listing --------------------------------------------------------------- Listing -->
    <main class="listing" id="listing">
      <!-- map -->
      <div id="mapPopup" class="map-popup collapse">
        <div class="map-popup__controls">
          <button class="btn btn-primary btn-icon toggle-pagelock" v-on:click="togglePagelock" data-toggle="collapse"
            data-target="#mapPopup" aria-expanded="true" aria-controls="mapPopup">
            <span class="icon-close"></span>
          </button>
          <div class="map-popup__controls-fields">
            <button type="button" class="btn btn-ternary btn-icon btn-filters d-lg-none" data-target="#listingFilter"
              data-toggle="collapse" aria-expanded="false" aria-controls="listingFilter">Show
              filters
              <span class="icon-filter"></span>
            </button>
            <label class="drop-down__select d-none d-lg-flex">
              <select name="" id="" v-model="selectedCat" v-on:change="blur">
                <option value="all">&nbsp;&nbsp;Things to do</option>
                <option v-for="(item, index) in catList" :value="item.CategoryId">&nbsp;&nbsp;{{item.Description}}
                </option>
              </select>
            </label>
            <label class="drop-down__select d-none d-lg-flex">
              <select name="" id="" v-model="selectedClass" v-on:change="blur">
                <option value="all">&nbsp;&nbsp;All types</option>
                <option v-for="(item, index) in classList" :value="item.ProductTypeId">&nbsp;&nbsp;{{item.Description}}
              </select>
            </label>
            <label class="drop-down__select d-none d-lg-flex">
              <select name="" id="" v-model="selectedSorting" v-on:change="blur">
                <option value="popular">&nbsp;&nbsp;Popular</option>
                <option value="alpha">&nbsp;&nbsp;A - Z</option>
              </select>
            </label>
          </div>

        </div>
        <!-- Map -->
        <div id="map"></div>
        <!-- <div id="content" class="map-card">
        </div> -->
      </div>
      <div class="container">
        <h1>Things to do</h1>
        <p class="page-intro text-3">Whether you are here for a few days or a fortnight, there’s so much to see and do –
          it’s
          the kind of place you’ll visit and never want to leave. From the golden-sand beaches with incredible coastal
          walks to architectural wonders where the present pays homage to the industrial past of the city.</p>
        <hr class="mb-4">
        <div class="listing-header">
          <button class="btn btn-secondary btn-icon" v-on:click="togglePagelock" data-toggle="collapse"
            data-target="#mapPopup">
            <span class="d-none d-md-block">Map</span>
            <span class="icon-map"></span></button>
          <div class="listing-header__controls">
            <div id="listingFilter" class="listing-filter collapse">
              <div class="listing-header__controls-container">
                <button type="button" id="btnMap" class="btn btn-ternary btn-icon btn-filters d-lg-none"
                  v-on:click="togglePagelock" data-target="#listingFilter" data-toggle="collapse" aria-expanded="false"
                  aria-controls="listingFilter">Hide filters
                  <!-- Check if map is open -->
                  <span class="icon-filter"></span>
                </button>
                <div class="listing-header__controls-inputs">
                  <label class="drop-down__select">
                    <select name="" id="" v-model="selectedCat" v-on:change="blur">
                      <option value="all">&nbsp;&nbsp;Things to do</option>
                      <option v-for="(item, index) in catList" :value="item.CategoryId">&nbsp;&nbsp;{{item.Description}}
                      </option>
                    </select>
                  </label>
                  <label class="drop-down__select">
                    <select name="" id="" v-model="selectedClass" v-on:change="blur">
                      <option value="all">&nbsp;&nbsp;All types</option>
                      <option v-for="(item, index) in classList" :value="item.ProductTypeId">
                        &nbsp;&nbsp;{{item.Description}}
                    </select>
                  </label>
                  <label class="drop-down__select">
                    <select name="" id="" v-model="selectedSorting" v-on:change="blur">
                      <option value="popular">&nbsp;&nbsp;Popular</option>
                      <option value="alpha">&nbsp;&nbsp;A - Z</option>
                    </select>
                  </label>
                  <div class="listing-header__controls-actions">
                    <button type="button" class="btn btn-secondary btn-icon d-lg-none" v-on:click="togglePagelock"
                      data-target="#listingFilter" data-toggle="collapse" aria-expanded="false"
                      aria-controls="listingFilter">Cancel
                    </button>
                    <button type="button" class="btn btn-primary btn-icon d-lg-none" v-on:click="togglePagelock"
                      data-target="#listingFilter" data-toggle="collapse" aria-expanded="false"
                      aria-controls="listingFilter">Apply
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-ternary btn-icon btn-filters d-lg-none toggle-pagelock"
              v-on:click="togglePagelock" data-target="#listingFilter" data-toggle="collapse" aria-expanded="false"
              aria-controls="listingFilter">Show filters
              <span class="icon-filter"></span>
            </button>
          </div>
        </div>

        <div class="row no-gutters listing-content">
          <!--------------------------------------------------------------------------- item -->
          <div class="col-12 col-md-6 col-lg-4 col-xl-3" v-for="(item, index) in filteredListing">
            <div class="card">
              <a :href="item.detailsUrl">
                <div class="card-border"></div>
                <img class="card-img-top" :src="item.image_src" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-tag">{{item.theme}}</h2>
                  <h3 class="card-title">{{item.name}}</h3>
                  <p class="card-text d-none d-md-block">{{item.description}}
                  </p>
                  <hr class="d-md-none">
                </div>
              </a>
            </div>
          </div>



        </div>
        <div class="row">
          <div class="col d-flex justify-content-center pt-4">
            <button class="btn btn-ternary btn-loadmore" v-if="isMoreItems" v-on:click="loadMoreItems">Load
              more</button>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer --------------------------------------------------------------- Footer -->
    <include src="./components/footer.html"></include>

  </div>

  <script src="./index.js"></script>
  <!-- Google maps script -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQPR2BgUtCejn47ZVJQIWLev4T7kqLjrE&callback=initMap">
    </script>
</body>

</html>